.Hex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Hex-label, 
.Hex-input {
    background-color: lightcoral;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 200px;
    box-shadow: 5px 5px 10px gray;
}

.Hex-input {
    background-color: white;
    text-align: center;
    width: 100%;
    margin: 5px;
    padding: 10px 0;
    border: 1px solid black;
    border-radius: 200px;
}

.Hex-input:focus {
    outline: none;
}